.container {
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-gap: 1em;
}

header, footer {
    grid-column: 1 / 4;
  }

@media all and (max-width: 700px) {
    aside,
    article {
      grid-column: 1 / 4;
    }
}