/*  This file overrides styles set by the UIKit library (`assets/uikit.css`). It's really just the same styles copied over and applied to directly elements, ids, and classes produced by Pandoc */

html {
    /* 1 */
    font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }

body {
  color: #1b1b1b;
  background-color: #fff;
}

a {
  color: #663399;
  font-weight: bold;
}

#toc ul {
    list-style:none;
    margin: 0;
    padding: 0;
  }

#toc ul li {
    display: block;
    text-decoration: none;
    padding: 5px 0;
    margin: 5px 0;
}

#toc ul ul {
    padding-left: 1rem;
    font-size: 0.875rem;
}

.objectives {
    position: relative;
    box-sizing: border-box;
    transition: box-shadow 0.1s ease-in-out;
    background: #222;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    display: flow-root;
    padding: 30px 30px;
}

.objectives ul {
    list-style: square;
}

ul > * > :last-child {
    margin-bottom: 0;
}
  /*
   * Style
   */
ul > :nth-child(n+2),
ul > * > ul {
    margin-top: 10px;
}

pre {
    color: #666;
    -moz-tab-size: 4;
    tab-size: 4;
    overflow: auto;
    padding: 25px;
    border: 0 solid #e5e5e5;
    border-radius: 0;
    background: #f8f8f8;
}

pre code {
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}

.exercise {
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.1s ease-in-out;
  background: #1e87f0;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  display: flow-root;
  padding: 30px 30px;
}

.exercise h4 {
  color: #fff;
  font-weight: bold;
}

details {
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.1s ease-in-out;
  display: flow-root;
  padding: 30px 30px;
  background: #222;
  color: #fff;
}

details summary {
  display: flow-root;
  padding: 15px 30px;
  font-weight: bold;
}

.summary {
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  display: flow-root;
  padding: 30px 30px;
  background: #e6e6e6;
  margin: 3rem 0;
}


/* ========================================================================
   Component: Table
 ========================================================================== */
/*
 * 1. Remove most spacing between table cells.
 * 2. Behave like a block element
 * 3. Style
 */
 table {
  /* 1 */
  border-collapse: collapse;
  border-spacing: 0;
  /* 2 */
  width: 100%;
  /* 3 */
  margin-bottom: 20px;
}
/* Add margin if adjacent element */
* + table {
  margin-top: 20px;
}

/* Header cell
 ========================================================================== */
/*
 * 1. Style
 */
table th {
  padding: 16px 12px;
  text-align: left;
  vertical-align: bottom;
  /* 1 */
  font-size: 0.875rem;
  font-weight: normal;
  color: #999;
  text-transform: uppercase;
}
/* Cell
 ========================================================================== */
table td {
  padding: 16px 12px;
  vertical-align: top;
}
/*
 * Remove margin from the last-child
 */
table td > :last-child {
  margin-bottom: 0;
}

/* Caption
 ========================================================================== */
table caption {
  font-size: 0.875rem;
  text-align: left;
  color: #999;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}

table caption::before {
    content: "Table: "
  }

/* Style modifiers
 ========================================================================== */
/*
 * Divider
 */
table > tr:not(:first-child),
table > :not(:first-child) > tr,
table > :first-child > tr:not(:first-child) {
    border-top: 1px solid #e5e5e5;
 }
/*
 * Hover
 */
table > tr:hover,
table tbody tr:hover {
  background: #ffd;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  color: #666;
}

blockquote em {
  margin-top: 10px;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #666;
  display: block;
  text-align: right;
}

blockquote em::before {
  content: "\A";
}

h3 {
  font-weight: bold;
}

.uk-light .uk-text-lead {
  color: #91a6ba;
}

.uk-light {
  color: #fff;
}

/* Accessibility Features */

.skip-link {
  background: #319795;
  color: #fff;
  font-weight: 700;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-link:focus {
  transform: translateY(0%);
}

.skip-link:focus-within {
  transform: translateY(0%);
}

.uk-container {
  background-color: #fff;
  color: #000;
}

.uk-navbar-item {
  color: #000
}

.uk-text-small {
  font-size: 1rem;
}